
eatx_full/parts/OldVersions/

eatx_full/resources/nvidia-gtx980/Solidworks File (better version)/OldVersions/

*.lck

eatx_full/resources/nvidia-gtx980/inventor/OldVersions/

eatx_full/OldVersions/

eatx_full/resources/powersupply/OldVersions/

eatx_slim/OldVersions/

eatx_slim/parts/OldVersions/

eatx_full/resources/fan80/OldVersions/

eatx_full/resources/motherboard/OldVersions/

*.ipj
